backend/app/models/img_test
backend/app/uploads
backend/app/models/models_nlp/vector_db
backend/app/models/models_nlp/.env
backend/app/.env
backend/app/models/faiss_224
backend/app/models/models_audio/features_faiss
backend/app/models/faiss_224_new
process_data/feature_sift