pyvi~=0.1.1
langchain~=0.3.26
requests~=2.32.3
python-dotenv~=1.1.0
numpy~=1.26.4
pymongo~=4.12.1
tensorflow~=2.19.0
opencv-python~=4.11.0.86
librosa~=0.11.0
soundfile~=0.13.1
matplotlib~=3.10.3
pillow~=11.2.1
scikit-image~=0.25.2
onnxruntime~=1.22.0
scikit-learn~=1.6.1
fastapi~=0.115.12
pydantic~=2.11.4
motor~=3.7.0
uvicorn~=0.34.2
scenedetect~=0.6.6
moviepy~=2.2.1